<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<!-- Lance l'app .NET 8 sous IIS -->
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<!-- Autorise PUT / DELETE -->
			<security>
				<requestFiltering>
					<verbs allowUnlisted="true">
						<add verb="PUT" allowed="true" />
						<add verb="DELETE" allowed="true" />
					</verbs>
				</requestFiltering>
			</security>

			<aspNetCore processPath="dotnet"
						arguments=".\MinshpWebApp.Api.dll"
						hostingModel="inprocess"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout">

				<environmentVariables>
					<!-- ===================== -->
					<!-- Environnement général -->
					<!-- ===================== -->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />

					<!-- ===================== -->
					<!-- Base de données -->
					<!-- ===================== -->
					<environmentVariable name="ConnectionStrings__MainDb"
													 value="Data Source=.\MSSQLSERVER2019;Initial Catalog=minshpDB;User Id=minshpadmin2;Password=mins19882025@;Encrypt=False;MultipleActiveResultSets=True;" />

					<!-- ===================== -->
					<!-- SHIPPING / BOXTAL -->
					<!-- ===================== -->
					<environmentVariable name="Shipping__From__Zip" value="91000" />
					<environmentVariable name="Shipping__From__Country" value="FR" />
					<environmentVariable name="Shipping__Boxtal__BaseUrlV3" value="https://api.boxtal.build" />
					<environmentVariable name="Shipping__Boxtal__BaseUrlV1" value="https://test.envoimoinscher.com/api/v1" />
					<environmentVariable name="Shipping__Boxtal__V3SignatureHeader" value="X-Webhook-Signature" />

					<environmentVariable name="Shipping__Boxtal__V3WebhookSecret" value="ca577bc0f" />
					<environmentVariable name="Shipping__Boxtal__V3CallbackUrl"   value="https://minshp.com/Shippings/boxtal/v3/webhook" />
					<environmentVariable name="Shipping__Boxtal__V1UserName"      value="minamba.c@gmail.com" />
					<environmentVariable name="Shipping__Boxtal__V1Password"      value="Diablotin1988" />
					<environmentVariable name="Shipping__Boxtal__AppSecret"       value="8ee4760d-a76b-4f8b-8816-aca176b10843" />
					<environmentVariable name="Shipping__Boxtal__AppId"           value="app-50ff44e1-4858-4a5b-b02a-2757286cdfd0" />

					<!-- ===================== -->
					<!-- STRIPE -->
					<!-- ===================== -->
					<environmentVariable name="Stripe__FrontendBaseUrl" value="https://minshp.com" />
					<environmentVariable name="Stripe__SecretKey"      value="sk_test_51S5lNpHL02AYUKhGU0TXiM4FeEQ5yWNQYcUBQPxkhzT1wfyfgzYPgtqjdiesbWRQ7oQbxolSiCkyldLWmod7Fyky00IxHAuCWJ" />
					<environmentVariable name="Stripe__PublishableKey" value="pk_test_51S5lNpHL02AYUKhGFPDelHnaptYZd0KteSKgOCIceWIo1wTqo4oZ8TAxseVKjEqDKqa9dH4B0XwpbZ0nES53hVVU0021agps0f" />
					<environmentVariable name="Stripe__WebhookSecret"  value="whsec_PRG2gO7VB8dQWZV1AqcMRT6tpQ2gOg3Y" />

					<!-- ===================== -->
					<!-- APPLICATION URL -->
					<!-- ===================== -->
					<environmentVariable name="Application__ApiBaseUrl" value="https://minshp.com" />
					<environmentVariable name="Application__OrderCallbackUrl" value="https://minshp.com/account" />

					<!-- ===================== -->
					<!-- TELEGRAM -->
					<!-- ===================== -->
					<!-- Success -->
					<environmentVariable name="TelegramSuccess__GroupChatId" value="-1003025238597" />
					<environmentVariable name="TelegramSuccess__BotToken"    value="8221135633:AAFH3hbTTJlAnCUDTApxaKZ1_mQMRS35FpM" />

					<!-- Error -->
					<environmentVariable name="TelegramError__GroupChatId" value="-1002978637642" />
					<environmentVariable name="TelegramError__BotToken"    value="8031723670:AAHOWxdoEFohkFu2lDRQywrbBq_lC5ZcUyQ" />

					<!-- Alert stock -->
					<environmentVariable name="TelegramAlertStock__GroupChatId" value="-4878827824" />
					<environmentVariable name="TelegramAlertStock__BotToken"    value="8164523387:AAHrxAjCE0Ys-bg9PKuol9iNnjAU-68qvZo" />

					<!-- ===================== -->
					<!-- AUTH (IdentityServer) -->
					<!-- ===================== -->
					<environmentVariable name="Auth__Issuer" value="https://auth.minshp.com" />

				</environmentVariables>
			</aspNetCore>

		</system.webServer>
	</location>
</configuration>
