<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<!-- Lance l'app .NET 8 sous IIS -->
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<!-- Autorise PUT / DELETE -->
			<security>
				<requestFiltering>
					<verbs allowUnlisted="true">
						<add verb="PUT" allowed="true" />
						<add verb="DELETE" allowed="true" />
					</verbs>
				</requestFiltering>
			</security>

			<aspNetCore processPath="dotnet"
						arguments=".\MinshpWebApp.Api.dll"
						hostingModel="inprocess"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout">

				<environmentVariables>
					<!-- ===================== -->
					<!-- Environnement général -->
					<!-- ===================== -->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />



					<!-- ===================== -->
					<!-- AUTH (IdentityServer) -->
					<!-- ===================== -->
					<environmentVariable name="Auth__Issuer" value="https://auth.minshp.com" />

				</environmentVariables>
			</aspNetCore>

		</system.webServer>
	</location>
</configuration>
