<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<!-- IMPORTANT: remplace le nom de la DLL si différent -->
			<aspNetCore processPath="dotnet"
						arguments=".\MinshpWebApp.IdentityServer.dll"
						hostingModel="inprocess"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout">

				<environmentVariables>
					<!-- Environnement -->
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />

					<!-- Connexion base AUTH -->
					<environmentVariable name="ConnectionStrings__MainDb"
										 value="Server=.\\MSSQLSERVER2019;Database=minshpDB;User Id=minshpadmin;Password=m1nshp@dmin19882025;Encrypt=False;MultipleActiveResultSets=True;" />

					<!-- I S S U E R  (URL publique de ton IdentityServer) -->
					<!-- Ex: https://id.ton-domaine.tld -->
					<!--<environmentVariable name="Auth__Issuer" value="https://minshp.com" />-->

					<!-- C O R S  (origines autorisées pour tes fronts) -->
					<!-- CSV: https://front1,https://front2 -->
					<!--<environmentVariable name="CORS__Origins" value="https://minshp.com,https://admin.ton-domaine.tld" />-->

					<!-- SPA (React) — redirect / logout redirect -->
					<!--<environmentVariable name="Spa__RedirectUri" value="https://minshp.com/callback" />
					<environmentVariable name="Spa__PostLogoutUri" value="https://minshp.com/" />-->

					<!-- Client confidentiel (pour appels serveur->serveur) -->
					<environmentVariable name="Clients__MinshpApi__ClientId" value="minshp-api-client" />
					<environmentVariable name="Clients__MinshpApi__Secret" value="REMPLACE-MOI-par-un-secret-solide" />

					<!-- (Optionnel) URL de ton API si tu veux la référencer ici -->
					<environmentVariable name="Api__BaseUrl" value="https://minshp.com" />
				</environmentVariables>

			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
